/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c27;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}



/* header */
.header {
  padding-top: 50px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
}

.header__logo {
  cursor: pointer;
}

.header__inner-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  max-width: 100%;
  height: auto;
}
.header__form {
  margin-top: 50px;
}

.header__form-input {
  border: 1px solid #999;
}

.header__button {
  background-color: inherit;
}

.header__inner-bottom {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #b3b3b3;
}

.header__nav {
  margin-bottom: 20px;
}

.header__nav-link {
  font-size: 11px;
  padding: 0 7px;
  color: #666;
  border-right: 1px solid #666;
  opacity: 0.8;
  text-transform: uppercase;
}

.header__nav-link:last-child {
  border-right: none;
}

.header__nav-link:hover {
  opacity: 1;
}


/* books */

.books__list {
  margin-top: 216px;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.books__list-item {
  height: 260px;
  width: 205px;
  margin-top: 10px;
  margin-right: 5px;
}

.book__img {
  width: 210px;
  height: 210px;
}

.books__list-item:last-child {
  margin-right: 0;
}

.book__title {
  font-size: 75%;
  text-align: center;
  margin-top: 10px;
}




/* burger */

.burger__menu {
  position: fixed;
  left: -100%;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
}

.burger__menu.active {
  left: 0;
  transition: all 2s ease;
}

.burger__menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger-menu__item {
  margin-bottom: 20px;
}

.button__burger {
  position: absolute;
  right: 38px;
  top: -25px;
  height: 30px;
  width: 30px;
  background-color: inherit;
  display: none;


}


.burger__img {
  height: 30px;
  width: 30px;
}

.button-burger__line {
  display: block;
  height: 3px;
  width: 25px;
  background-color: #333;
  margin-bottom: 5px;
}

.burger-menu__item-link {
  opacity: 0.8;
}
.burger-menu__item-link:hover {
  opacity: 1;
}


@media (max-width: 768px) {
  .button__burger {
    display: block;
  }
  .header__inner-top {
    flex-direction: column;
    justify-content: center;
  }
  .header__form {
    margin-top: 0;
  }
  .header__nav {
    display: none;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .books__list {
    justify-content: center;
  }
 
}